html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1;
}

#main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

#editor {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: none;
    height: 100%;
    display: block;
    flex: 1 1 50%;
    /*background: #2d2d2d;*/
    /*color: #cccccc;*/
    overflow: hidden;
    white-space: pre-wrap;
    font-size: 13px;
}

#preview {
    height: 100%;
    flex: 1 1 50%;
    background: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px;
}

#preview pre.highlight {
    background-color: transparent;
    padding: 0;
}

div .ace_print-margin {
    width: 0 !important;
}
